.nosotros {
  width: 100vw;
  background: #f5f5f5;
  padding: 100px 10px 20px 10px;
}

.nosotros h2 {
  color: #074983;
}

.viñeta {
  list-style: none;
  padding-left: 2rem;
  background-image: url("/icon-list.png");
  background-position: 0 0;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.card-us {
  width: 100%;
}

.card-title {
  width: 100%;
  background-color: #074983;
  padding: 25px 0;
  text-align: center;
}

.card-title h2 {
  color: ghostwhite;
}

.row-us {
  padding: 20px;
  display: flex;
  gap: 25px;
}

.img-us {
  width: 40%;
}

.img-us img {
  width: 100%;
}

.card-body {
  width: 60%;
}

/* ✅ Ajuste para que las listas del editor (ul/ol) usen el icono personalizado */
.card-body ul,
.card-body ol {
  list-style: none;
  padding-left: 2rem;
}

.card-body li {
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

.card-body li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 1rem;
  height: 1rem;
  background-image: url("/icon-list.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .nosotros {
    padding: 20px 10px;
  }

  .row-us {
    flex-direction: column;
  }

  .img-us {
    width: 100%;
  }

  .card-body {
    width: 100%;
  }
}
